.content
  .head
    .divider
    .name I'm Karl Otto
    .work design student.
    .left
      .website #[i.fa.fa-safari] www.mermaid.app
      .mail #[i.fa.fa-envelope] karl@mermaid.app
      .phone #[i.fa.fa-phone] 0161/5498724
      .twitter #[i.fa.fa-twitter-square] @otti
    .right
      .age #[i.fa.fa-user-circle] 25 years old
      .hometown #[i.fa.fa-globe] From Berlin, Germany
      .place #[i.fa.fa-map-marker] Located in Hamburg

  
  .rows
    .left
      .projects 
        h2 Projects
        .project WordPress Landingpage
          .place Deutsche Bahn AG
        .project Designed Clients flyer
          .place Home24 GmbH
          
      .education
        h2 Education
        ul
          li Highschool
            .place Karl-Theodor Highschool, Berlin
          li 3-year Vocational College
            .place Design School of Berlin
            .time 2015-2007
          li Studying Design
            .place University of Berlin
            .time now-2015
        
    .right
      .hobbys
        h2 Hobbies
        ul
          li #[i.fa.fa-wikipedia-w] #[span Wikipedia]
          li #[i.fa.fa-trophy] #[span Tennis]
        
      .skills
        h2 Skills
        ul
          li #[i.fa.fa-battery-quarter] LaTeX
          li #[i.fa.fa-battery-three-quarters] HTML & CSS 
          li #[i.fa.fa-battery-quarter] SCSS, jQuery
          li #[i.fa.fa-battery-half] NodeJS
          li #[i.fa.fa-battery-quarter] SQL
          li #[i.fa.fa-battery-quarter] Grav CMS
          li #[i.fa.fa-battery-quarter] WordPress 

style
  include:scss style.scss
